<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    
    <!--/*/ <th:block th:include="top :: top"></th:block> /*/-->

    <body>

        <div class="container">

            <!--/*/ <th:block th:include="header :: header"></th:block> /*/-->

            <h2>Rol</h2>
            <div>
                <form class="form-horizontal" th:object="${entity}" th:action="@{/roles}" method="post">
                    <input type="hidden" th:field="*{id}"/>                                
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Descripción</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{descrip}"/>
                        </div>                       
                    </div>   
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nivel</label>
                        <div class="col-sm-10">
                            <input type="number" name="points" step="1" class="form-control" th:field="*{nivel}"/>
                        </div>                       
                    </div>  
                                        
                    <div class="row">
                        <button type="submit" class="btn btn-success">Guardar</button>                        
                        <a class="btn btn-default" th:href="${'/seguros/roles'}">Cancelar</a>
                    </div>
                    <h5 style="color:red;" th:text="${message}"></h5>
                </form>
            </div>

        </div>

    </body>
</html>