<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
    <div th:fragment="top">
        
        <!-- RECURSOS EXTERNOS -->
        <!--
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>             
        -->

        <!-- RECURSOS LOCALES -->        
        <script th:src="@{/static/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/static/bootstrap.min.js}"></script>
        <link th:href="@{/static/bootstrap.min.css}" rel="stylesheet" media="screen"/> 
               
        <title>Estudios</title>
    </div>

</head>
</html>